body {
	background-image:radial-gradient(ellipse farthest-corner at center top,#000d4d 0%,#000105 100%);
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: rgb(255, 255, 255);
  padding: 1rem 1.2rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 350px;
  width: 250px;
  user-select: none;
  text-align: center;
  text-shadow: 0.3px 0.3px 2px rgba(0, 0, 0, 0.2);
}

form h2 {
  text-align: center;
  font-weight: 450;
  color: #9795f0;
}

form input {
  border: none;
  outline: none;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

form input.file {
  display: flex;
  font-weight: 450;
  color: #9795f0;
}
form label {
  position: absolute;
  left: 30px;
  top: 4px;
  font-size: 15px;
  font-weight: 500;
  pointer-events: none;
  color: gray;
  transition: 200ms ease;
}


form input.submit {
  border: none;
  margin-top: 1rem;
  padding: 1rem;
  width: 80%;
  border-radius: 2rem;
  background-image: linear-gradient(120deg, #9795f0 0%, #fbc8d4 100%);
  background-size: 200%;
  color: rgb(42, 42, 42);
  font-weight: 700;
  outline: none;
  cursor: pointer;
  transition: background-position .5s;
}

form input.submit:hover {
  background-position: right;
}

form a {
  color: dodgerblue;
}

form a:active {
  color: gray;
}



@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

.slider-wrap {
  position: absolute;
  /* height: 100%;
  width: 100%; */
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /*位于页面居中*/
}
.slider-wrap .slider {
  position: absolute;
  width: 100%;
}

.slider-item {
  width: 530px;
  padding: 5px 0 5px 50px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  opacity: 0;
  z-index: 0;
  box-shadow: 0 4px 9px #f1f1f4;
  position: absolute;
  left: 0;
  top: 0;
  color: #9795f0;
}
.slider-item .animation-card_image {
  max-width: 60px;
  max-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 9px rgba(241, 241, 244, 0.72);
  background-color: #ffffff;
}
.slider-item .animation-card_image img {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  object-fit: cover;
  
}
.slider-item .animation-card_content {
  width: 100%;
  max-width: 374px;
  margin-left: 26px;
  font-family: "Open Sans", sans-serif;
}
.slider-item .animation-card_content .animation-card_content_title {
  color: #4a4545;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.18px;
  line-height: 24px;
  margin: 0;
}
.slider-item .animation-card_content .animation-card_content_description {
  color: #696d74;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 24px;
  margin: 10px 0 0 0;
}
.slider-item .animation-card_content .animation-card_content_city {
  font-size: 11px;
  margin: 10px 0 0 0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #696d74;
}

div {
  
  display: inline-block;

}